.messages--ckeditor5_plugin_pack {
  border-color: #771BFF!important;

  & .messages__header {
    background: url(/Koha-2025/modules/contrib/ckeditor5_plugin_pack/css/../img/ck-logo.png) no-repeat center left;
    background-size: 20px;
  }
}
