/**
 * @file
 * Styling for the user module icons.
 */

/**
 * Toolbar tab icon.
 */
.toolbar-bar .toolbar-icon-user::before {
  background-image: url(/Koha-2025/core/themes/stable9/css/user/../../../../misc/icons/bebebe/person.svg);
}
.toolbar-bar .toolbar-icon-user:active::before,
.toolbar-bar .toolbar-icon-user.is-active::before {
  background-image: url(/Koha-2025/core/themes/stable9/css/user/../../../../misc/icons/ffffff/person.svg);
}
