/**
 * @file
 * Visual styles for a nested tree child.
 */

div.tree-child {
  background: url(/Koha-2025/core/misc/components/../tree.png) no-repeat 11px center; /* LTR */
}
div.tree-child-last {
  background: url(/Koha-2025/core/misc/components/../tree-bottom.png) no-repeat 11px center; /* LTR */
}
[dir="rtl"] div.tree-child,
[dir="rtl"] div.tree-child-last {
  background-position: -65px center;
}
div.tree-child-horizontal {
  background: url(/Koha-2025/core/misc/components/../tree.png) no-repeat -11px center;
}
